#bg{
	-fx-background-image:url("../images/menu_bg.jpg");
	-fx-alignment :  center;
}

#button2{
	-fx-pref-width: 250;
	-fx-padding: 15 30 15 30;
	-fx-font-weight: bold;
	-fx-font-family: Helvetica;
	-fx-background-insets: 0,1,4,5;
}

#pane{
	-fx-alignment :  center;
}

#score1{
	-fx-padding: 0 50 0 0;
}

#score2{
	-fx-padding: 0 0 0 50;
}

Button{
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
	-fx-pref-width: 250;
	-fx-padding: 15 30 15 30;
	-fx-font-weight: bold;
	-fx-font-family: Helvetica;
	-fx-background-insets: 0,1,4,5;	
	-fx-border-color: black;
	-fx-border-insets: 5px;
    -fx-background-insets: 5px;	
}

Button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-pref-width: 250;
	-fx-padding: 15 30 15 30;
	-fx-font-weight: bold;
	-fx-font-family: Helvetica;
	-fx-background-insets: 0,1,4,5;	
	-fx-border-color: black;
	-fx-border-insets: 5px;
    -fx-background-insets: 5px;	
}

.titre{
	-fx-alignment :  center;
	-fx-font-weight: bold;
	-fx-font-family: Helvetica;
	-fx-font-size:20;
}

#titre_question{
	-fx-alignment :  center;
	-fx-font-weight: bold;
	-fx-font-family: Helvetica;
	-fx-font-size:15;
}

.question{
}